*.pth
*.pkl
*.safetensors
*.ckpt
*.bin
__pycache__/
*.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
logs/
*.log
*.db
*.sqlite3
output/
backend/uploads/
result_*.png
test_*.png
ml/CatVTON/model/SCHP/checkpoints/
ml/CatVTON/model/DensePose/checkpoints/
ml/CatVTON/model/DensePose/*.pkl
ml/CatVTON/model/SCHP/*.pth
ml/output/
models/
